* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; 
  color: #555;
  text-align: left;
}

.app header {
  background-color: #d6d6d6;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  text-align: center;
}

.app footer {
  background-color: #d6d6d6;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #444;
  text-align: center;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}

h3 {
  margin-top: 2rem;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

nav {
  background-color: #c4c4c4;
  padding: 1rem;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
}

nav a {
    font-weight: 500;
    text-decoration: none;
}

nav a:visited, nav a:hover {
    color: #444;
}

.gallery {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card {
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
   padding: 1rem;
   transform: translateY(-6px);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   cursor: pointer;
}

.modell {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  margin-bottom: 20px;
}

.head-pict {
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.head img {
  display: block;
  margin: auto;  
  width: 75%;  
  max-height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.head-pict:hover {
  transform: translateY(-6px);
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
} 

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

thead th {
  background-color: #666;
  color: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
  background-color: #c2c2c2;
}